
.menu-mobile-bar{
    font-size: 25px;
    position: absolute;
    top: 0;
    z-index: 25;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, .4);
    width: 100%;
    height: 100%;
    display: none;
    .open_sidebar_menu{
        width: 280px;
        background-color: #353535;
        height: 100%;
        display: none;
        position: fixed;
        // margin-left: -280px;
        .action{
            width: 100%;
            text-align: center;
            padding: 10px 0;
            background: #ef7147;
            background-size: cover;
            position: relative;
            z-index: 2;
            .log{
                .linkacc{
                    a{
                        font-family: Arial, Helvetica, sans-serif;
                        display: inline-block;
                        margin: 0 10px;
                        color: #fff;
                        font-size: 14px;
                    }

                }
            }
            .search{
                padding: 10px;
                .header_search {
                    width: 100%;
                    position: relative;
                    font-family: Arial, Helvetica, sans-serif;
                    input{
                        width: 100%;
                        border: none;
                        padding:0 0 10px 10px;
                        &::placeholder{
                            font-size: 15px;
                        }
                        &:focus{
                            outline: none;
                        }
                    }
                    i{
                        display: block;
                        position: absolute;
                        font-size: 15px;
                        top: 15px;
                        right: 10px;
                        color: #ef7147;
                    }
                }
            }
        }
        .ul_collections{
            padding: 20px;
            li{ 
                padding: 10px 20px 5px 0;
                border-bottom: 1px solid #a7a7a726;
                a{
                    font-size: 14px;
                    color: #a7a7a7;
                }
                i{
                    font-size: 15px;
                    color: #a7a7a7;
                }
            }
            .special {
                border: none;
                a{
                    font-size: 20px;
                    text-transform: uppercase;
                    color: #e7e7e7;
                    
                }
            }
        }
    }
    
}

@media(min-width:1024px){
    header .IconBag_header{
        padding-left: 0px !important;
    }
}

@media(max-width:1023px){
    .menu-mobile{
        display: block;
        i{
            margin: 10px 0 0 20px;
            font-size: 20px;
        }
    }
    .owl-stage{
        width: 3800px !important;
        .owl-item{
            width: 350px !important;
        }
    }
    .owl-dots{
        display: none !important;
    }
    .owl-carousel{
        position: relative;
        .owl-nav {
            display: block !important;
            display: flex;
            width: 100%;
            button{
                background-color: #ef7147 !important;
                width: 30px;
                height: 30px;
                border: 1px solid #ffffff !important;  
                display: block;
                span{
                    font-size: 25px;
                    color: #ffffff;
                    text-align: center;
                    margin-bottom: 15px;
                    line-height: 10px;
                }
            }
            .owl-prev{
                position: absolute;
                top: 40%;
                left: 0px;
            }
            .owl-next{
                position: absolute;
                top: 40%;
                right: 0px;
            }
        }
    }
    
    .menu-mobile{
        display: block !important;
    }
    header .IconBag_header{
        padding-left: 0px !important;
    }
    .element-menu-header{
        display: none;
    }
    .shopping-cart{
        margin-top: 5px;
    }
    .info_cart{
        p{
            display: none !important;
        }
    }
    .elementFood_title::before, .elementFood_title::after {
        content: none !important;
    }
    .favories_menu ul li{
        padding: 10px 40px !important;
    }
    .food_favories .list_favories .img_product{
        height: 270px !important;
    }
    .food_new .item-product-new .img-product-new{
        width: 200px !important;
    }
    .bottom-footer{
        text-align: center;
        .row{
            flex-direction: column-reverse !important
        }
        .menu-bottom-footer {
            ul{
                justify-content: center !important;
            }
        }
    }
}

@media(max-width: 780px){
    header{
        .hotline_header{
            text-align: center;
        }
        .logo_header{
            text-align: center;
            img{
                width: 150px !important;
            }
        }
    }

    .right_header{
        display: none !important;
    }
    
    .menu-bottom-footer{
        display: none;
    }

    .favories_menu {
        display: none;
    }
    .select-mobile{
        display: block !important;
        text-align: center;
        select{
            padding: 0px 10px;
            width: 200px;
            border: 1px solid #ebebeb;
            border-radius: 5px;
            color: #333;
            line-height: 40px;
            font-size: 20px;
            font-family: UTMBryantLG;
        }
    }

    .left-section-1{
        margin-bottom: 20px;
    }

    .cart-hover {
        width: 350px;
        .element-cart-hover{
            width: 300px !important;
        }
    }
    .icon_product{
        display: none;
        .block-1{
            h5{
                font-size: 28px;
                line-height: 35px;
                color: #333;
            }
        }
    }
    
    .banner .info_slide button{
        transform: scale(0.5);
        bottom: 0 !important;
        left: 14% !important;
    }
}